In [1]:
from pvlib import solarposition
import pandas as pd

In [36]:
#时区的影响
# tz = 'Asia/Shanghai'
lat, lon = 36.4, 117.0
times = pd.date_range('2023-07-28 11:00:00+08:00', '2023-07-28 11:00:00+08:00', freq='30min')
solpos = solarposition.get_solarposition(times, lat, lon)
solpos

,apparent_zenith,zenith,apparent_elevation,elevation,azimuth,equation_of_time
2023-07-28 11:00:00+08:00,24.448219,24.455869,65.551781,65.544131,129.879892,-6.555712

In [40]:
#时区的影响
# tz = 'Asia/Shanghai'
lat, lon = 36.4, 117.0
times1 = pd.date_range('2023-07-27 23:00:00-04:00', '2023-07-27 23:00:00-04:00', freq='30min')
solpos1 = solarposition.get_solarposition(times1, lat, lon)
solpos1

,apparent_zenith,zenith,apparent_elevation,elevation,azimuth,equation_of_time
2023-07-27 23:00:00-04:00,24.448219,24.455869,65.551781,65.544131,129.879892,-6.555712